body{
    font-family : "monospace", sans-serif;
}

.sidenavmenu {
    height: 100%;
    width: 250px;
    padding-top: 20px;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    position: fixed;
    background-color: #ae3030;
}

.sidenavmenu a {
    padding: 6px 6px 10px 50px;
    text-decoration: none;
    font-size: 20px;
    color: #fcfafa;
    display: block;

}



